{{ define "content" }}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://zalando.github.io/tech-radar/release/radar-0.7.js"></script>
<svg id="radar"></svg>
<script>
  radar_visualization({
  svg_id: "radar",
  width: 1450,
  height: 1000,
  colors: {
    background: "#fff",
    grid: "#bbb",
    inactive: "#ddd"
  },
    title: "{{ .Site.Title }}",
    quadrants: [
      { name: "Languages & Frameworks" },
      { name: "Platforms" },
      { name: "Techniques" },
      { name: "Tools" },
  ],
  rings: [
    { name: "ADOPT",  color: "#5ba300" },
    { name: "TRIAL",  color: "#009eb0" },
    { name: "ASSESS", color: "#c7ba00" },
    { name: "HOLD",   color: "#e09b96" },
  ],
  print_layout: true,
  links_in_new_tabs: true,
  entries: [
{{ $quadrant := dict "languages" 0 "platforms" 1 "techniques" 2 "tools" 3 }}
{{ $ring := dict "adopt" 0 "trial" 1 "assess" 2 "hold" 3 }}
{{ $moved := dict "in" 1 "no" 0 "out" -1 }}
{{ range ( where .Site.Pages "Section" "eq" "tech" ) }}
{{ if isset .Params "quadrant" }}
    {
      label: {{ .Title }},
      link: {{ .RelPermalink }},
      quadrant: {{ index $quadrant .Params.Quadrant }},
      ring: {{ index $ring .Params.Ring }},
      moved: {{ index $moved .Params.Moved }}
    },
{{ end }}
{{ end }}
  ]
});
</script>
{{ end }}
